*{
    font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
}

body{
    background-position: center center;
    background: radial-gradient(ellipse, #72b9e5,#1B4F72);
}

ul{
    list-style:none;
}

a{
    text-decoration: none;
    color: black;
}

.boton{
    width: 150px;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 1%;
    background-color: transparent;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: 2px solid gray;
    border-radius: 2px;
    transition: all 300ms;
}

.boton:hover{
    letter-spacing: 1px;
    background-color: gray;
    color: white;
}

footer{
    border-top: 1px solid black;
    height: 50px;
    width: 100%;
    text-align: center;
    background-color: cadetblue;
    position:absolute;
    bottom: 0;
    left: 0;
}
footer p{
    padding-top: 12px;
    margin-top: auto;
    margin-bottom: auto;
}

/*
-----------------------------------------------------------
------------------------- INICIO --------------------------
-----------------------------------------------------------
*/

/*---------------- CONTENEDOR PRINCIPAL ----------------*/
.contenedor-principal{
    background-color: cadetblue;
    margin: 3% 10% 0% 10%;
    padding: 0% 0% 0% 5%;
    box-shadow: 1px 1px 10px black;
    height: 400px;
    transition: all 300ms;
}

.contenedor-principal:hover{
    box-shadow: 1px 1px 20px black;
}

#contenedor-info{
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
}

#contenedor-imagen-presentacion{
    float: right;
    width: 40%;
    height: 100%;
}

#contenedor-imagen-presentacion img{
    width: 100%;
    height: 100%;
}

#contenedor-info h1, h3{
    font-weight: bold;
    text-shadow: 0px 0px 0px #000000;
}

#contenedor-info ul{
    text-align:left;

}

#contenedor-info ul img{
    margin-right: 1%;
    width: 20px;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}

#contenedor-info h3{
    padding-bottom: 3%;
}

#contenedor-info li{
    padding-top: 2%;

}

#contenedor-info a img{
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    margin-right: 3%;
    margin-bottom: 3%;
    transition: all 300ms;
}

#contenedor-info a img:hover{
    filter: drop-shadow(0 6px 9px rgba(0, 0, 0, 0.7));
    margin-right: 3%;
    margin-bottom: 3%;
}


/*---------------- CONTENEDOR SECUNDARIO ----------------*/
.contenedor-secundario{
    height: 200px;
    background-color: cadetblue;
    margin: 3% 10% auto 10%;
    padding: 2%;
    box-shadow: 1px 1px 10px black;
    text-align: center;
    transition: all 300ms;
}

.contenedor-secundario:hover{
    box-shadow: 1px 1px 20px black;
}

.contenedor-secundario p{
    text-align: justify;
    margin-bottom: 5%;
}

@media (max-width: 900px) {
    .contenedor-principal{
        height: 450px;
    }
}

@media (max-width: 685px) {
    .contenedor-principal{
        height: 600px;
    }
}

@media (max-width: 1200px) {
    .contenedor-secundario{
        height: 250px;
    }
}

@media (max-width: 930px) {
    .contenedor-secundario{
        height: 350px;
    }
}

/*
-----------------------------------------------------------
------------------------ CONTACTO -------------------------
-----------------------------------------------------------
*/

#body-contactarme{
    font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}

.contenedor-principal h2{
    text-align: center;
    padding-top: 2%;
}

.contactarme{
    height: 500px;
    width: 500px;
    background-color: cadetblue;
    padding: 0% 1% 0% 1%;

    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: auto;
    margin-right:auto;

    box-shadow: 1px 1px 10px black;
    border: 1px solid black;
    transition: all 300ms;
}

.contactarme hr{
    margin: 0% 0% 5% 0%;
    color: black;
    box-shadow: 1px 1px 5px black;
}

.contactarme form{
    text-align: center;
}

.contenedor-principal label{
    margin-bottom: 1000px;
    padding-bottom: 5%;
}

.contenedor-principal input, textarea{
    width: 50%;
}

/*
-----------------------------------------------------------
----------------------- CONOCERME -------------------------
-----------------------------------------------------------
*/

#body-conocerme{
    text-align: center;
}

#body-conocerme h2{
    margin-top: 5%;
    margin-bottom: 5%;
}

.contenedor-inicial{
    width: 100%;
    text-align: center;
}

.contenedor-inicial #contenedor-imagen img{
    width: 20%;
    transition: all 300ms;
}

.contenedor-inicial #contenedor-imagen img:hover{
    width: 22%;
    box-shadow: 1px 1px 20px black;
}

.conocer{
    margin: 2% 10% 2% 10%;
}

#body-conocerme h3{
    margin-top: 3%;
    margin-bottom: 3%;
}

#conocimiento-lado-izquierdo{
    background-color: cadetblue;
    margin: 0% 60% 0% 2%;
    padding: 1px 0% 1px 0%;
    box-shadow: 1px 1px 10px black;
    /*height: 400px;*/
    transition: all 300ms;
}

#conocimiento-lado-izquierdo:hover{
    box-shadow: 1px 1px 20px black;
}

#conocimiento-lado-derecho{
    background-color: cadetblue;
    margin: 2% 2% 2% 60%;
    padding: 1px 0% 1px 0%;
    box-shadow: 1px 1px 10px black;
    /*height: 400px;*/
    transition: all 300ms;
}

#conocimiento-lado-derecho:hover{
    box-shadow: 1px 1px 20px black;
}

.experiencia{
    background-color: cadetblue;
    margin: 5% 20% 0% 20%;
    padding: 1px 0% 1px 0%;
    box-shadow: 1px 1px 10px black;
    /*height: 400px;*/
    transition: all 300ms;
}

.experiencia:hover{
    box-shadow: 1px 1px 20px black;
}

.ultimo{
    margin-bottom: 10%;
}

table.guia-tabla, tr, td{
    border-collapse: collapse;
    border: hidden;
    text-align: center;/*
    vertical-align:text-bottom;*/
}

.experiencia img{
    width: 100%;
}